In [ ]:
# Adding this to

In [1]:
# Load Libraries
import pandas as pd
import numpy as np

In [2]:
# Import Data Files (Student Survey & School Enrollment Files)
df_studentsurvey = pd.read_csv('/Users/yuriyang/Desktop/Scholarfund/full_student_survey_data.csv')
df_schoolenrollment = pd.read_csv('/Users/yuriyang/Desktop/Scholarfund/school_enrollment_data copy.csv')

In [3]:
# Clean Student Dataframe: only select the columns that are relevant
# (You should only have to run this step if you used the preset dataframe names)

df_studentsurvey_subset = df_studentsurvey[[
    'Response ID',
    'Status',
    'Language',
    'School Code',
    'coppa_age',
    'q_aspire_self',
    'q_expect_self',
    'q_expect_family',
    'q_expect_friends',
    'q_expect_staff',
    'q_grad_ready',
    'q_teachers_expect_all',
    'q_teachers_high_expectations',
    'q_teachers_expect_hardwork',
    'q_principal_future_plan',
    'q_school_college_match',
    'q_school_career_match',
    'q_learning_career',
    'q_school_achieve_career',
    'q_develop_financial',
    'q_hsbp_useful',
    'q_hsbp_platform_confidence',
    'q_hsbp_more_likely',
    'q_college_future_career',
    'q_school_dcoptions',
    'q_know_reqs_graduate',
    'q_know_reqs_apprenticeship',
    'q_know_reqs_2yr',
    'q_know_reqs_4yr',
    'q_know_reqs_posths',
    'q_staff_ontrack',
    'q_staff_support',
    'q_school_1on1supp',
    'q_staff_met_college',
    'q_advisory_plan_posths',
    'Parents / Guardians:q_most_helpful',
    'Other family members (siblings, cousins, uncle/aunt):q_most_helpful',
    'Teachers:q_most_helpful',
    'Counselors:q_most_helpful',
    'College and Career Specialist:q_most_helpful',
    'Other school staff:q_most_helpful',
    'Myself / my own research:q_most_helpful',
    'Friends / other community members:q_most_helpful',
    'q_satisfied_cc',
    'q_school_parent_welcome',
    'q_school_adult_knows_well',
    'q_school_adult_problem',
    'q_finaid_complete',
    'q_finaid_purpose',
    'q_school_talktofam',
    'q_afford_college',
    'q_cost_4yr',
    'q_cost_2yr',
    'q_school_talk_scholarships',
    'q_parents_edlevel'
]]

In [4]:
# Clean School dataframe: only select the School Code & School Name Columns
df_schoolenrollment_subset = df_schoolenrollment[['SchoolCode', 'SchoolName']]

In [5]:
# Clean Student dataframe: only pull data for responses where Status is 'Complete' and coppa_age is equal to 2
df_studentsurvey_filtered = df_studentsurvey_subset[
    (df_studentsurvey_subset['Status'] == 'Complete') &
    (df_studentsurvey_subset['coppa_age'] == 2)
]

#df_studentsurvey_filtered = df_studentsurvey_subset

In [6]:
# Clean Student & School dataframes: Rename columns
# Please use these naming conventions for the column names
  # Student Data Frame
    #'Response ID':'response_id'
    #'Status':'status'
    #'Language':'language'
    #'School Code':'school_code'
    #'Parents / Guardians:q_most_helpful':'q_most_helpful_parents'
    #'Other family members (siblings, cousins, uncle/aunt):q_most_helpful':'q_most_helpful_otherfam'
    #'Teachers:q_most_helpful':'q_most_helpful_teachers'
    #'Counselors:q_most_helpful':'q_most_helpful_counselors'
    #'College and Career Specialist:q_most_helpful':'q_most_helpful_ccspecialist'
    #'Other school staff:q_most_helpful':'q_most_helpful_otherschoolstaff'
    #'Myself / my own research:q_most_helpful':'q_most_helpful_myself'
    #'Friends / other community members:q_most_helpful':'q_most_helpful_friends'

df_studentsurvey_filtered = df_studentsurvey_filtered.rename(columns={
    'Response ID': 'response_id',
    'Status': 'status',
    'Language': 'language',
    'School Code': 'school_code',
    'Parents / Guardians:q_most_helpful': 'q_most_helpful_parents',
    'Other family members (siblings, cousins, uncle/aunt):q_most_helpful': 'q_most_helpful_otherfam',
    'Teachers:q_most_helpful': 'q_most_helpful_teachers',
    'Counselors:q_most_helpful': 'q_most_helpful_counselors',
    'College and Career Specialist:q_most_helpful': 'q_most_helpful_ccspecialist',
    'Other school staff:q_most_helpful': 'q_most_helpful_otherschoolstaff',
    'Myself / my own research:q_most_helpful': 'q_most_helpful_myself',
    'Friends / other community members:q_most_helpful': 'q_most_helpful_friends'
})

 # School Data Frame
    #'SchoolCode':'school_code',
    #'SchoolName':'school_name',

df_schoolenrollment_subset = df_schoolenrollment_subset.rename(columns={
    'SchoolCode': 'school_code',
    'SchoolName': 'school_name'
})

In [7]:
# Create Most Helpful Measure (q_most_helpful) in Student dataframe 
# Logic: 
    # You should use the case_when function
    # You will need to use the 8 'q_most_helpful_*' columns
        # q_most_helpful_parents
        # q_most_helpful_otherfam
        # q_most_helpful_teachers
        # q_most_helpful_counselors
        # q_most_helpful_ccspecialist
        # q_most_helpful_otherschoolstaff
        # q_most_helpful_myself
        # q_most_helpful_friends
    # The numeric value shows what rank students gave this particular group with 1 being the most helpful and 8 being the least helpful
    # q_most_helpful should only be set with a single text/string value that corresponds with the respective columns
        # Parents / Guardians
        # Other family members (siblings, cousins, uncle/aunt)
        # Teachers
        # Counselors
        # College and Career Specialist
        # Other school staff
        # Myself / my own research
        # Friends / other community members

# First step is to create the column and set it initially with 'Unknown' for all values
df_studentsurvey_filtered['q_most_helpful'] = 'Unknown'

# Enter the code for the case_when function below
conditions = [
    df_studentsurvey_filtered['q_most_helpful_parents'] == 1,
    df_studentsurvey_filtered['q_most_helpful_otherfam'] == 1,
    df_studentsurvey_filtered['q_most_helpful_teachers'] == 1,
    df_studentsurvey_filtered['q_most_helpful_counselors'] == 1,
    df_studentsurvey_filtered['q_most_helpful_ccspecialist'] == 1,
    df_studentsurvey_filtered['q_most_helpful_otherschoolstaff'] == 1,
    df_studentsurvey_filtered['q_most_helpful_myself'] == 1,
    df_studentsurvey_filtered['q_most_helpful_friends'] == 1
]

choices = [
    'Parents / Guardians',
    'Other family members (siblings, cousins, uncle/aunt)',
    'Teachers',
    'Counselors',
    'College and Career Specialist',
    'Other school staff',
    'Myself / my own research',
    'Friends / other community members'
]

df_studentsurvey_filtered['q_most_helpful'] = np.select(conditions, choices, default='Unknown')

In [8]:
df_studentsurvey_filtered[['q_most_helpful','q_most_helpful_parents', 'q_most_helpful_otherfam', 'q_most_helpful_teachers', 'q_most_helpful_counselors', 'q_most_helpful_ccspecialist', 'q_most_helpful_otherschoolstaff', 'q_most_helpful_myself', 'q_most_helpful_friends']].head(10)

,q_most_helpful,q_most_helpful_parents,q_most_helpful_otherfam,q_most_helpful_teachers,q_most_helpful_counselors,q_most_helpful_ccspecialist,q_most_helpful_otherschoolstaff,q_most_helpful_myself,q_most_helpful_friends
0,Counselors,NaN,NaN,2.0,1.0,NaN,NaN,3.0,4.0
1,Parents / Guardians,1.0,7.0,5.0,4.0,2.0,6.0,3.0,8.0
2,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Parents / Guardians,1.0,NaN,2.0,3.0,NaN,4.0,NaN,5.0
4,Myself / my own research,2.0,NaN,NaN,NaN,NaN,NaN,1.0,3.0
5,"Other family members (siblings, cousins, uncle...",4.0,1.0,NaN,6.0,NaN,2.0,3.0,5.0
6,"Other family members (siblings, cousins, uncle...",4.0,1.0,NaN,2.0,NaN,NaN,NaN,3.0
7,Parents / Guardians,1.0,2.0,3.0,4.0,NaN,NaN,6.0,5.0
10,Parents / Guardians,1.0,NaN,2.0,NaN,NaN,3.0,NaN,4.0
11,Parents / Guardians,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0

In [9]:
# Create First Gen Dimension in student Data Frame
#df_studentsurvey_filtered['first_gen'] = 0
#df_studentsurvey_filtered.loc[df_studentsurvey_filtered['q_parents_edlevel'] == 1, 'first_gen'] = 1

df_studentsurvey_filtered['first_gen'] = 2 - df_studentsurvey_filtered['q_parents_edlevel']

In [10]:
# link Student Survey dataframe to School Name data frame using a left join
df_linked = df_studentsurvey_filtered.merge(
    df_schoolenrollment_subset,
    how='left',
    on='school_code')

In [11]:
df_linked.head(10)

,response_id,status,language,school_code,coppa_age,q_aspire_self,q_expect_self,q_expect_family,q_expect_friends,q_expect_staff,...,q_finaid_purpose,q_school_talktofam,q_afford_college,q_cost_4yr,q_cost_2yr,q_school_talk_scholarships,q_parents_edlevel,q_most_helpful,first_gen,school_name
0,30,Complete,English,4071,2.0,1.0,1.0,1.0,1.0,1.0,...,2.0,1.0,1.0,1.0,1.0,1.0,1.0,Counselors,1.0,Lincoln High School
1,31,Complete,English,4071,2.0,1.0,1.0,1.0,1.0,1.0,...,2.0,2.0,2.0,6.0,9.0,1.0,1.0,Parents / Guardians,1.0,Lincoln High School
2,32,Complete,English,4071,2.0,4.0,6.0,1.0,1.0,2.0,...,1.0,1.0,1.0,11.0,9.0,1.0,1.0,Unknown,1.0,Lincoln High School
3,33,Complete,English,4071,2.0,6.0,2.0,1.0,1.0,2.0,...,1.0,1.0,2.0,4.0,5.0,2.0,1.0,Parents / Guardians,1.0,Lincoln High School
4,34,Complete,English,4071,2.0,5.0,5.0,2.0,1.0,2.0,...,2.0,2.0,2.0,9.0,7.0,1.0,2.0,Myself / my own research,0.0,Lincoln High School
5,35,Complete,English,4071,2.0,1.0,1.0,1.0,2.0,2.0,...,1.0,1.0,2.0,6.0,5.0,1.0,1.0,"Other family members (siblings, cousins, uncle...",1.0,Lincoln High School
6,36,Complete,English,4071,2.0,2.0,1.0,2.0,1.0,2.0,...,1.0,1.0,1.0,6.0,2.0,2.0,2.0,"Other family members (siblings, cousins, uncle...",0.0,Lincoln High School
7,37,Complete,English,4071,2.0,1.0,2.0,2.0,1.0,2.0,...,1.0,2.0,1.0,4.0,4.0,1.0,2.0,Parents / Guardians,0.0,Lincoln High School
8,40,Complete,English,4071,2.0,6.0,1.0,1.0,1.0,1.0,...,2.0,1.0,1.0,8.0,4.0,2.0,2.0,Parents / Guardians,0.0,Lincoln High School
9,41,Complete,English,4071,2.0,5.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,11.0,5.0,1.0,1.0,Parents / Guardians,1.0,Lincoln High School

In [12]:
# Drop the 8 Columns that were used for creating the Most Helpful measure/column and the coppa_age & Status columns
columns_to_drop = [
        # q_most_helpful_parents
        # q_most_helpful_otherfam
        # q_most_helpful_teachers
        # q_most_helpful_counselors
        # q_most_helpful_ccspecialist
        # q_most_helpful_otherschoolstaff
        # q_most_helpful_myself
        # q_most_helpful_friends
    'q_most_helpful_parents',
    'q_most_helpful_otherfam',
    'q_most_helpful_teachers',
    'q_most_helpful_counselors',
    'q_most_helpful_ccspecialist',
    'q_most_helpful_otherschoolstaff',
    'q_most_helpful_myself',
    'q_most_helpful_friends',
    'coppa_age',
    'status'
]

df_linked = df_linked.drop(columns=columns_to_drop, axis = 1)

In [13]:
df_linked.head(50)

,response_id,language,school_code,q_aspire_self,q_expect_self,q_expect_family,q_expect_friends,q_expect_staff,q_grad_ready,q_teachers_expect_all,...,q_finaid_purpose,q_school_talktofam,q_afford_college,q_cost_4yr,q_cost_2yr,q_school_talk_scholarships,q_parents_edlevel,q_most_helpful,first_gen,school_name
0,30,English,4071,1.0,1.0,1.0,1.0,1.0,2.0,2.0,...,2.0,1.0,1.0,1.0,1.0,1.0,1.0,Counselors,1.0,Lincoln High School
1,31,English,4071,1.0,1.0,1.0,1.0,1.0,2.0,2.0,...,2.0,2.0,2.0,6.0,9.0,1.0,1.0,Parents / Guardians,1.0,Lincoln High School
2,32,English,4071,4.0,6.0,1.0,1.0,2.0,2.0,2.0,...,1.0,1.0,1.0,11.0,9.0,1.0,1.0,Unknown,1.0,Lincoln High School
3,33,English,4071,6.0,2.0,1.0,1.0,2.0,1.0,1.0,...,1.0,1.0,2.0,4.0,5.0,2.0,1.0,Parents / Guardians,1.0,Lincoln High School
4,34,English,4071,5.0,5.0,2.0,1.0,2.0,1.0,2.0,...,2.0,2.0,2.0,9.0,7.0,1.0,2.0,Myself / my own research,0.0,Lincoln High School
5,35,English,4071,1.0,1.0,1.0,2.0,2.0,2.0,2.0,...,1.0,1.0,2.0,6.0,5.0,1.0,1.0,"Other family members (siblings, cousins, uncle...",1.0,Lincoln High School
6,36,English,4071,2.0,1.0,2.0,1.0,2.0,2.0,2.0,...,1.0,1.0,1.0,6.0,2.0,2.0,2.0,"Other family members (siblings, cousins, uncle...",0.0,Lincoln High School
7,37,English,4071,1.0,2.0,2.0,1.0,2.0,2.0,2.0,...,1.0,2.0,1.0,4.0,4.0,1.0,2.0,Parents / Guardians,0.0,Lincoln High School
8,40,English,4071,6.0,1.0,1.0,1.0,1.0,2.0,2.0,...,2.0,1.0,1.0,8.0,4.0,2.0,2.0,Parents / Guardians,0.0,Lincoln High School
9,41,English,4071,5.0,1.0,1.0,1.0,1.0,2.0,2.0,...,1.0,1.0,1.0,11.0,5.0,1.0,1.0,Parents / Guardians,1.0,Lincoln High School
10,42,English,4071,6.0,6.0,1.0,1.0,1.0,2.0,2.0,...,2.0,1.0,2.0,2.0,6.0,1.0,1.0,Teachers,1.0,Lincoln High School
11,43,English,4071,4.0,3.0,1.0,2.0,2.0,2.0,2.0,...,1.0,1.0,1.0,10.0,9.0,1.0,1.0,Counselors,1.0,Lincoln High School
12,45,English,4071,1.0,1.0,2.0,1.0,2.0,2.0,2.0,...,2.0,1.0,2.0,1.0,1.0,1.0,2.0,Parents / Guardians,0.0,Lincoln High School
13,46,English,4071,3.0,1.0,2.0,1.0,1.0,2.0,2.0,...,1.0,1.0,1.0,9.0,5.0,1.0,1.0,"Other family members (siblings, cousins, uncle...",1.0,Lincoln High School
14,48,English,4071,5.0,5.0,2.0,2.0,2.0,2.0,2.0,...,2.0,1.0,2.0,6.0,5.0,1.0,1.0,"Other family members (siblings, cousins, uncle...",1.0,Lincoln High School
15,49,English,4071,6.0,6.0,1.0,1.0,1.0,2.0,2.0,...,2.0,1.0,1.0,5.0,2.0,1.0,1.0,Parents / Guardians,1.0,Lincoln High School
16,50,English,4071,3.0,3.0,2.0,1.0,1.0,2.0,2.0,...,1.0,2.0,2.0,8.0,9.0,2.0,1.0,Parents / Guardians,1.0,Lincoln High School
17,51,English,4071,6.0,6.0,1.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,4.0,4.0,2.0,2.0,Friends / other community members,0.0,Lincoln High School
18,52,English,4071,3.0,3.0,2.0,1.0,1.0,2.0,1.0,...,1.0,1.0,1.0,8.0,5.0,1.0,2.0,Parents / Guardians,0.0,Lincoln High School
19,53,English,4071,1.0,6.0,2.0,1.0,1.0,1.0,2.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,"Other family members (siblings, cousins, uncle...",1.0,Lincoln High School
20,55,English,4071,3.0,3.0,1.0,1.0,2.0,2.0,2.0,...,2.0,1.0,2.0,8.0,1.0,1.0,2.0,Parents / Guardians,0.0,Lincoln High School
21,57,English,4071,6.0,3.0,2.0,2.0,2.0,2.0,1.0,...,1.0,2.0,1.0,11.0,11.0,1.0,2.0,Parents / Guardians,0.0,Lincoln High School
22,58,English,4071,1.0,1.0,2.0,1.0,2.0,2.0,2.0,...,1.0,1.0,1.0,9.0,5.0,2.0,1.0,"Other family members (siblings, cousins, uncle...",1.0,Lincoln High School
23,60,English,4071,2.0,2.0,2.0,1.0,1.0,2.0,2.0,...,1.0,1.0,1.0,11.0,8.0,1.0,2.0,Parents / Guardians,0.0,Lincoln High School
24,61,English,4071,5.0,5.0,1.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,9.0,7.0,1.0,2.0,Teachers,0.0,Lincoln High School
25,62,English,4071,4.0,3.0,2.0,1.0,2.0,2.0,2.0,...,1.0,1.0,1.0,6.0,5.0,1.0,1.0,Parents / Guardians,1.0,Lincoln High School
26,63,English,4071,1.0,1.0,1.0,1.0,1.0,1.0,2.0,...,2.0,1.0,1.0,10.0,5.0,1.0,1.0,Unknown,1.0,Lincoln High School
27,64,English,4071,5.0,5.0,1.0,1.0,2.0,2.0,1.0,...,1.0,1.0,1.0,11.0,11.0,1.0,1.0,Parents / Guardians,1.0,Lincoln High School
28,65,English,4071,4.0,4.0,2.0,2.0,2.0,2.0,2.0,...,1.0,1.0,1.0,6.0,5.0,1.0,1.0,Myself / my own research,1.0,Lincoln High School
29,66,English,4071,6.0,6.0,2.0,2.0,2.0,2.0,2.0,...,2.0,1.0,2.0,9.0,7.0,1.0,2.0,Counselors,0.0,Lincoln High School
30,67,English,4071,3.0,3.0,2.0,1.0,1.0,2.0,2.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,Parents / Guardians,1.0,Lincoln High School
31,68,English,4071,1.0,1.0,1.0,1.0,1.0,2.0,2.0,...,1.0,1.0,1.0,4.0,2.0,1.0,1.0,Teachers,1.0,Lincoln High School
32,69,English,4071,3.0,3.0,2.0,1.0,2.0,1.0,2.0,...,2.0,1.0,2.0,11.0,10.0,2.0,1.0,Counselors,1.0,Lincoln High School
33,71,English,4071,1.0,1.0,1.0,2.0,2.0,2.0,2.0,...,2.0,2.0,1.0,1.0,1.0,2.0,1.0,Parents / Guardians,1.0,Lincoln High School
34,74,English,4071,2.0,2.0,1.0,1.0,1.0,2.0,2.0,...,1.0,1.0,1.0,11.0,11.0,1.0,2.0,Parents / Guardians,0.0,Lincoln High School
35,77,English,4071,4.0,1.0,2.0,2.0,2.0,2.0,2.0,...,1.0,1.0,2.0,3.0,1.0,1.0,2.0,Parents / Guardians,0.0,Lincoln High School
36,78,English,4071,4.0,3.0,2.0,2.0,2.0,2.0,2.0,...,2.0,1.0,2.0,7.0,4.0,1.0,1.0,Teachers,1.0,Lincoln High School
37,82,English,4071,1.0,1.0,1.0,1.0,2.0,2.0,2.0,...,1.0,1.0,1.0,11.0,4.0,1.0,1.0,Myself / my own research,1.0,Lincoln High School
38,84,English,4071,2.0,1.0,1.0,1.0,2.0,1.0,2.0,...,2.0,1.0,1.0,6.0,5.0,1.0,1.0,Parents / Guardians,1.0,Lincoln High School
39,85,English,4071,1.0,6.0,2.0,1.0,1.0,1.0,2.0,...,1.0,1.0,1.0,9.0,7.0,1.0,1.0,"Other family members (siblings, cousins, uncle...",1.0,Lincoln High School
40,88,English,4071,3.0,3.0,1.0,1.0,1.0,2.0,2.0,...,1.0,1.0,1.0,5.0,2.0,1.0,1.0,Myself / my own research,1.0,Lincoln High School
41,89,English,4071,6.0,6.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,11.0,11.0,1.0,2.0,Parents / Guardians,0.0,Lincoln High School
42,90,English,4071,6.0,3.0,2.0,2.0,2.0,2.0,2.0,...,1.0,2.0,2.0,6.0,6.0,1.0,2.0,Parents / Guardians,0.0,Lincoln High School
43,92,English,4071,6.0,6.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,11.0,11.0,1.0,2.0,Parents / Guardians,0.0,Lincoln High School
44,93,English,3119,5.0,5.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,4.0,2.0,2.0,2.0,Myself / my own research,0.0,Stevenson High School
45,94,English,3119,5.0,5.0,2.0,2.0,2.0,2.0,2.0,...,2.0,1.0,2.0,6.0,3.0,1.0,1.0,Myself / my own research,1.0,Stevenson High School
46,95,English,3119,6.0,5.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,8.0,3.0,2.0,2.0,Parents / Guardians,0.0,Stevenson High School
47,96,English,3119,5.0,5.0,2.0,1.0,2.0,1.0,2.0,...,2.0,2.0,2.0,11.0,8.0,2.0,2.0,College and Career Specialist,0.0,Stevenson High School
48,97,English,3119,5.0,5.0,1.0,2.0,1.0,2.0,2.0,...,2.0,2.0,2.0,5.0,3.0,2.0,1.0,College and Career Specialist,1.0,Stevenson High School
49,98,English,3119,6.0,4.0,2.0,2.0,2.0,1.0,2.0,...,2.0,1.0,1.0,6.0,5.0,2.0,1.0,"Other family members (siblings, cousins, uncle...",1.0,Stevenson High School

In [14]:
# Unpivot Data using the melt function
    # Response ID
    # Language
    # School Code
    # School Name
    # First Generation Status

df_data_long = df_linked.melt(id_vars = ['response_id','language', 'school_code', 'school_name', 'first_gen'])

In [15]:
df_data_long.head(10)

,response_id,language,school_code,school_name,first_gen,variable,value
0,30,English,4071,Lincoln High School,1.0,q_aspire_self,1.0
1,31,English,4071,Lincoln High School,1.0,q_aspire_self,1.0
2,32,English,4071,Lincoln High School,1.0,q_aspire_self,4.0
3,33,English,4071,Lincoln High School,1.0,q_aspire_self,6.0
4,34,English,4071,Lincoln High School,0.0,q_aspire_self,5.0
5,35,English,4071,Lincoln High School,1.0,q_aspire_self,1.0
6,36,English,4071,Lincoln High School,0.0,q_aspire_self,2.0
7,37,English,4071,Lincoln High School,0.0,q_aspire_self,1.0
8,40,English,4071,Lincoln High School,0.0,q_aspire_self,6.0
9,41,English,4071,Lincoln High School,1.0,q_aspire_self,5.0

In [16]:
# Create Functions that will be used to Code Text Values for each type of Survey Question

# Example Code for Yes/No Questions
def yes_no_coding(series):
    if series == 1:
        return 'No'
    elif series == 2:
        return 'Yes'
    else:
        return 'REVIEW'
    
# Placeholder Code for Agree/Disagree Questions
def agree_coding(series): 
    if series == 1:
        return 'Strongly Disagree'
    elif series == 2:
        return 'Disagree'
    elif series == 3:
        return 'Agree'
    elif series == 4:
        return 'Strongly Agree'
    else:
        return 'REVIEW'
        
# Enter Code for Education Level Questions below
def edu_level(series):
    if series == 1:
        return 'High School/Straight to Career or Military'
    elif series == 2:
        return 'Apprenticeship'
    elif series == 3:
        return 'Some College'
    elif series == 4:
        return '2-Year College'
    elif series == 5:
        return '4-Year College'
    elif series == 6:
        return 'Graduate School'
    else:
        return 'REVIEW'

# Enter Code for Satisfied Questions below
def satisfied(series): 
    if series == 1:
        return 'Very Unsatisfied'
    elif series == 2:
        return 'Unsatisfied'
    elif series == 3:
        return 'Satisfied'
    elif series == 4:
        return 'Very Satisfied'
    else:
        return 'REVIEW'

# Enter Code for Cost Questions below    
def cost(series):
    if series == 1:
        return '$0 - $5,000'
    elif series == 2:
        return '$5,001 - $10,000'
    elif series == 3:
        return '$10,001 - $15,000'
    elif series == 4:
        return '$15,001 - $20,000'
    elif series == 5:
        return '$20,001 - $25,000'
    elif series == 6:
        return '$25,001 - $30,000'
    elif series == 7:
        return '$30,001 - $35,000'
    elif series == 8:
        return '$35,001 - $40,000'
    elif series == 9:
        return '$40,001 - $45,000'
    elif series == 10:
        return '$45,001 - $50,000'
    elif series == 11:
        return 'Over $50,000'
    else:
        return 'REVIEW'

In [17]:
# Initially set the text_value column to equal the value column for all rows
df_data_long['text_value'] = df_data_long['value']

In [18]:
df_data_long.head(10)

,response_id,language,school_code,school_name,first_gen,variable,value,text_value
0,30,English,4071,Lincoln High School,1.0,q_aspire_self,1.0,1.0
1,31,English,4071,Lincoln High School,1.0,q_aspire_self,1.0,1.0
2,32,English,4071,Lincoln High School,1.0,q_aspire_self,4.0,4.0
3,33,English,4071,Lincoln High School,1.0,q_aspire_self,6.0,6.0
4,34,English,4071,Lincoln High School,0.0,q_aspire_self,5.0,5.0
5,35,English,4071,Lincoln High School,1.0,q_aspire_self,1.0,1.0
6,36,English,4071,Lincoln High School,0.0,q_aspire_self,2.0,2.0
7,37,English,4071,Lincoln High School,0.0,q_aspire_self,1.0,1.0
8,40,English,4071,Lincoln High School,0.0,q_aspire_self,6.0,6.0
9,41,English,4071,Lincoln High School,1.0,q_aspire_self,5.0,5.0

In [19]:
# Create a new data frame that only includes survey questions that were Yes/No Questions
# Then apply the appropriate function to Code Text Values to that subset of questions

df_data_long_yesno = df_data_long.loc[df_data_long['variable'].isin(['q_expect_family','q_expect_friends','q_expect_staff',
                                                                     'q_grad_ready','q_teachers_expect_all','q_teachers_high_expectations',
                                                                     'q_teachers_expect_hardwork','q_principal_future_plan',
                                                                     'q_school_dcoptions', 'q_staff_met_college','q_finaid_complete',
                                                                     'q_finaid_purpose','q_school_talktofam','q_afford_college',
                                                                     'q_school_talk_scholarships', 'q_parents_edlevel'
                                                                    ])].reset_index()

df_data_long_yesno['text_value'] = df_data_long_yesno['text_value'].apply(yes_no_coding)

In [20]:
df_data_long_yesno.head(10)

,index,response_id,language,school_code,school_name,first_gen,variable,value,text_value
0,4958,30,English,4071,Lincoln High School,1.0,q_expect_family,1.0,No
1,4959,31,English,4071,Lincoln High School,1.0,q_expect_family,1.0,No
2,4960,32,English,4071,Lincoln High School,1.0,q_expect_family,1.0,No
3,4961,33,English,4071,Lincoln High School,1.0,q_expect_family,1.0,No
4,4962,34,English,4071,Lincoln High School,0.0,q_expect_family,2.0,Yes
5,4963,35,English,4071,Lincoln High School,1.0,q_expect_family,1.0,No
6,4964,36,English,4071,Lincoln High School,0.0,q_expect_family,2.0,Yes
7,4965,37,English,4071,Lincoln High School,0.0,q_expect_family,2.0,Yes
8,4966,40,English,4071,Lincoln High School,0.0,q_expect_family,1.0,No
9,4967,41,English,4071,Lincoln High School,1.0,q_expect_family,1.0,No

In [21]:
# Create a new data frame that only includes survey questions that were Agree/Disagree Questions
# Then apply the appropriate function to Code Text Values to that subset of questions
df_data_long_agree = df_data_long.loc[df_data_long['variable'].isin([
    'q_school_college_match', 'q_school_career_match', 'q_learning_career','q_school_achieve_career',
    'q_develop_financial','q_hsbp_useful','q_hsbp_platform_confidence','q_hsbp_more_likely',
    'q_college_future_career','q_know_reqs_graduate','q_know_reqs_apprenticeship','q_know_reqs_2yr',
    'q_know_reqs_4yr','q_know_reqs_posths','q_staff_ontrack','q_staff_support','q_school_1on1supp',
    'q_advisory_plan_posths','q_school_parent_welcome','q_school_adult_knows_well','q_school_adult_problem'
])].reset_index()

df_data_long_agree['text_value'] = df_data_long_agree['text_value'].apply(agree_coding)

In [22]:
df_data_long_agree.head(10)

,index,response_id,language,school_code,school_name,first_gen,variable,value,text_value
0,24790,30,English,4071,Lincoln High School,1.0,q_school_college_match,3.0,Agree
1,24791,31,English,4071,Lincoln High School,1.0,q_school_college_match,3.0,Agree
2,24792,32,English,4071,Lincoln High School,1.0,q_school_college_match,3.0,Agree
3,24793,33,English,4071,Lincoln High School,1.0,q_school_college_match,4.0,Strongly Agree
4,24794,34,English,4071,Lincoln High School,0.0,q_school_college_match,3.0,Agree
5,24795,35,English,4071,Lincoln High School,1.0,q_school_college_match,2.0,Disagree
6,24796,36,English,4071,Lincoln High School,0.0,q_school_college_match,2.0,Disagree
7,24797,37,English,4071,Lincoln High School,0.0,q_school_college_match,4.0,Strongly Agree
8,24798,40,English,4071,Lincoln High School,0.0,q_school_college_match,3.0,Agree
9,24799,41,English,4071,Lincoln High School,1.0,q_school_college_match,3.0,Agree

In [23]:
# Create a new data frame that only includes survey questions that were Education Level Questions
# Then apply the appropriate function to Code Text Values to that subset of questions
df_data_long_edu = df_data_long.loc[df_data_long['variable'].isin(['q_aspire_self','q_expect_self'])].reset_index()

df_data_long_edu['text_value'] = df_data_long_edu['text_value'].apply(edu_level)

In [24]:
df_data_long_edu.head(10)

,index,response_id,language,school_code,school_name,first_gen,variable,value,text_value
0,0,30,English,4071,Lincoln High School,1.0,q_aspire_self,1.0,High School/Straight to Career or Military
1,1,31,English,4071,Lincoln High School,1.0,q_aspire_self,1.0,High School/Straight to Career or Military
2,2,32,English,4071,Lincoln High School,1.0,q_aspire_self,4.0,2-Year College
3,3,33,English,4071,Lincoln High School,1.0,q_aspire_self,6.0,Graduate School
4,4,34,English,4071,Lincoln High School,0.0,q_aspire_self,5.0,4-Year College
5,5,35,English,4071,Lincoln High School,1.0,q_aspire_self,1.0,High School/Straight to Career or Military
6,6,36,English,4071,Lincoln High School,0.0,q_aspire_self,2.0,Apprenticeship
7,7,37,English,4071,Lincoln High School,0.0,q_aspire_self,1.0,High School/Straight to Career or Military
8,8,40,English,4071,Lincoln High School,0.0,q_aspire_self,6.0,Graduate School
9,9,41,English,4071,Lincoln High School,1.0,q_aspire_self,5.0,4-Year College

In [25]:
# Create a new data frame that only includes survey questions that were Satisfied Questions
# Then apply the appropriate function to Code Text Values to that subset of questions
df_data_long_satisfited = df_data_long.loc[df_data_long['variable'].isin(['q_satisfied_cc'])].reset_index()

df_data_long_satisfited['text_value'] = df_data_long_satisfited['text_value'].apply(satisfied)

In [26]:
df_data_long_satisfited.head(10)

,index,response_id,language,school_code,school_name,first_gen,variable,value,text_value
0,74370,30,English,4071,Lincoln High School,1.0,q_satisfied_cc,2.0,Unsatisfied
1,74371,31,English,4071,Lincoln High School,1.0,q_satisfied_cc,3.0,Satisfied
2,74372,32,English,4071,Lincoln High School,1.0,q_satisfied_cc,3.0,Satisfied
3,74373,33,English,4071,Lincoln High School,1.0,q_satisfied_cc,4.0,Very Satisfied
4,74374,34,English,4071,Lincoln High School,0.0,q_satisfied_cc,3.0,Satisfied
5,74375,35,English,4071,Lincoln High School,1.0,q_satisfied_cc,3.0,Satisfied
6,74376,36,English,4071,Lincoln High School,0.0,q_satisfied_cc,2.0,Unsatisfied
7,74377,37,English,4071,Lincoln High School,0.0,q_satisfied_cc,3.0,Satisfied
8,74378,40,English,4071,Lincoln High School,0.0,q_satisfied_cc,3.0,Satisfied
9,74379,41,English,4071,Lincoln High School,1.0,q_satisfied_cc,3.0,Satisfied

In [27]:
# Create a new data frame that only includes survey questions that were Cost Questions
# Then apply the appropriate function to Code Text Values to that subset of questions
df_data_long_cost = df_data_long.loc[df_data_long['variable'].isin(['q_cost_4yr','q_cost_2yr'])].reset_index()

df_data_long_cost['text_value'] = df_data_long_cost['text_value'].apply(cost)

In [28]:
df_data_long_cost.head(10)

,index,response_id,language,school_code,school_name,first_gen,variable,value,text_value
0,94202,30,English,4071,Lincoln High School,1.0,q_cost_4yr,1.0,"$0 - $5,000"
1,94203,31,English,4071,Lincoln High School,1.0,q_cost_4yr,6.0,"$25,001 - $30,000"
2,94204,32,English,4071,Lincoln High School,1.0,q_cost_4yr,11.0,"Over $50,000"
3,94205,33,English,4071,Lincoln High School,1.0,q_cost_4yr,4.0,"$15,001 - $20,000"
4,94206,34,English,4071,Lincoln High School,0.0,q_cost_4yr,9.0,"$40,001 - $45,000"
5,94207,35,English,4071,Lincoln High School,1.0,q_cost_4yr,6.0,"$25,001 - $30,000"
6,94208,36,English,4071,Lincoln High School,0.0,q_cost_4yr,6.0,"$25,001 - $30,000"
7,94209,37,English,4071,Lincoln High School,0.0,q_cost_4yr,4.0,"$15,001 - $20,000"
8,94210,40,English,4071,Lincoln High School,0.0,q_cost_4yr,8.0,"$35,001 - $40,000"
9,94211,41,English,4071,Lincoln High School,1.0,q_cost_4yr,11.0,"Over $50,000"

In [29]:
# Create a new data frame for the Most Helpful question
# Code the value field to Not a Number (np.nan) for all rows
df_data_long_most_helpful = df_data_long.loc[df_data_long['variable'] == 'q_most_helpful'].reset_index()
df_data_long_most_helpful['value'] = np.nan

In [30]:
df_data_long_most_helpful.head(10)

,index,response_id,language,school_code,school_name,first_gen,variable,value,text_value
0,104118,30,English,4071,Lincoln High School,1.0,q_most_helpful,NaN,Counselors
1,104119,31,English,4071,Lincoln High School,1.0,q_most_helpful,NaN,Parents / Guardians
2,104120,32,English,4071,Lincoln High School,1.0,q_most_helpful,NaN,Unknown
3,104121,33,English,4071,Lincoln High School,1.0,q_most_helpful,NaN,Parents / Guardians
4,104122,34,English,4071,Lincoln High School,0.0,q_most_helpful,NaN,Myself / my own research
5,104123,35,English,4071,Lincoln High School,1.0,q_most_helpful,NaN,"Other family members (siblings, cousins, uncle..."
6,104124,36,English,4071,Lincoln High School,0.0,q_most_helpful,NaN,"Other family members (siblings, cousins, uncle..."
7,104125,37,English,4071,Lincoln High School,0.0,q_most_helpful,NaN,Parents / Guardians
8,104126,40,English,4071,Lincoln High School,0.0,q_most_helpful,NaN,Parents / Guardians
9,104127,41,English,4071,Lincoln High School,1.0,q_most_helpful,NaN,Parents / Guardians

In [31]:
# Union the 6 data frames above back together into a single field
df_union = pd.concat([df_data_long_yesno
                      ,df_data_long_agree
                      ,df_data_long_edu
                      ,df_data_long_satisfited
                      ,df_data_long_cost
                      ,df_data_long_most_helpful])

In [32]:
# Check that the row count of the original dataframe matches the row count for the new dataframe
len(df_union) == len(df_data_long)

True

In [33]:
#len(df_union)
#114034

#len(df_data_long)
#106597

#len(df_linked)
#2479

(len(df_union) - len(df_data_long))/len(df_linked)

0.0

In [34]:
# Write the final file to csv
df_union.to_csv('final_survey_data_for_tableau.csv', index=False)